.Board {
    position: absolute;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #25a1e9, #00ffff);
    -webkit-box-shadow: 10px 10px 32px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 32px 5px rgba(0,0,0,0.75);

}

.boxWithShadow {
    border-bottom: 2px solid black;
    position: relative;
    top: 5px;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: whitesmoke;
    overflow: scroll;
    
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #25a1e9;
    position: relative;

}

.navItem { 
    font-family: 'Lobster', cursive;
    margin-bottom: 5px;
}

.navItem h1 { 
    margin-top: 5px;
    margin-bottom: 30px;
}

.navButtonsBox {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 300px;

}

.navButtonsBox button {
    height: 30px;
    width: 150px;
    border: none;
    
}

.appliedJobsBtn {
    color: white;
    text-emphasis: bold;
    background-color: #14da77a8;
    border-radius: 10px 10px 0 0 ;
}

button:focus {
    outline: none;
    border: none;
    background-color: #00ffff;
    
}

button:hover {
    text-decoration: underline;
}

.pulse {
    border-radius: 10px 10px 0 0;
    background-color: darkcyan;
    box-shadow: 0 0 0 rgb(81, 255, 0);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }

  footer {
      color: white;
      text-align: right;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgb(81, 255, 0);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgb(81, 255, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 1);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
