.SearchBox {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 90%;
    background-color: white;
    border: 1px solid black;
    border-top: 5px solid black;
}

.SearchBox button {
    position: relative;
    bottom: 30px;
    height: 30%;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 1px 1px 1px 1px;
    border: 0px;
    background-color: aquamarine;

}

.LocationSearch {
    margin-bottom: 150px;
}

.SearchBox label {
    width: 100%;
    height: 150%;
    border: none;
    font-size: 1.5rem;
}

.SearchBox input {
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
    height: 30%;
    outline: 0;
    border-radius: 0px 0px 0px 0px;
    border-width: 0 0 2px;
    border-color: rgb(13, 206, 231);
}

.SearchBox input:focus {
    outline: none;
}

.SpinnerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.LoadingSpinner {
    /* position: relative;
    left: 50%; */
    bottom: 50px;
    height: 50px;
    width: 50px;

}

