.SearchBox {
    position: absolute;
    display: flex;
    left: 10%;
    flex-direction: column;
    top: 10%;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: grey;
    border: 1px solid black;
    border-radius: 0 0 50px 50px;
    border-top: 5px solid black;
}

.SearchBox button {
    position: absolute;
    bottom: 0;
    height: 30%;
    border-radius: 0 0 50px 50px;
    width: 100%;
    font-size: 1.5rem;

}

.LocationSearch {
    margin-bottom: 150px;
}

.SearchBox label {
    width: 100%;
    height: 150%;
    border: none;
    font-size: 1.5rem;
}

.SearchBox input {
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
    height: 30%;
    border: none none none 3px solid black;
}

.SearchBox input:focus {
    outline: none;
}


.LoadingSpinner {
    position: absolute;
    bottom: 0;
    left: 25%;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 50%;

}

