.Login {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Login input {
    border: none;
    width: 98.7%;
    height: 80%;
}

.Login input:focus {
    outline: none;
}

.Login label {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    text-emphasis: bold;
}

.Login button {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.ButtonBottom {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 9px 9px;
}

