.Card {
    border: 1px solid black;
    background-color: aliceblue;
    position: relative;
    border-radius: 0 0 10px 10px;
    padding: 0;
    margin: 0.3rem;
    font-size: 70%;
    height: 150px;
    width: 300px;
    -webkit-box-shadow: 10px 10px 51px -20px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 10px 51px -20px rgba(0,0,0,0.67);
    box-shadow: 10px 10px 51px -20px rgba(0,0,0,0.67);
}

h2,
h3 {
    padding: 0 10px;
}

.buttonBox {
    position: absolute;
    bottom: 0
}

.buttonBox button {
    width: 150px;
    height: 30px;
    border: none
}

.appliedBtn {
    border-radius: 0 0 0 10px;
}

.dismissBtn {
    border-radius: 0 0 10px 0;
    border: none
}

a {
    text-decoration: none;
    color: black;
}

.appliedBtnActive {
    border-radius: 0 0 0 10px;
    background-color: rgb(15, 235, 81);
}