.LoginBox {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    background-color: rgb(58, 142, 199);
    opacity: 0.8;
    border-radius: 0 0 10px 10px;
}

.LoginMsgBox {
    position: fixed;
    top: 20%;
    left: 55%;
    width: 200px;
    height: 75px;
    background-color: whitesmoke;
    border: 3px solid greenyellow;
    border-radius: 10px;
    text-align: center;
    color: green;
    opacity: 0.9;
    cursor: pointer;
}

.ErrMsgBox {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 200px;
    height: 75px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 3px solid rgb(255, 0, 0);
    text-align: center;
    color: rgb(216, 19, 19);
    opacity: 0.9;
    cursor: pointer;
}